<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/javascripts/home.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href='/practice'>Instagram</a></h1>

    <h2><%=users[0].name %></h2>
    <h2><%=users[1].name %></h2>
    <h2><%=users[2].name %></h2>
    <h2><%=users[3].name %></h2>

  </body>
</html>
